
<article>
    <br><br>
    <p>getbyid works!</p>
    <h3>{{title}}</h3>
    <input placeholder="id" [(ngModel)]='id' /><br/>  
        <br>
        <button type="button" class="btn btn-pill btn-info" (click)='getDataFromCode()'> 
            Get Trade of ID: {{id}} 
        </button>
    <br>
    <aside>{{data | json}}</aside>
</article>
