 
<article class='jumbotron'>
    <!-- <app-display-status> </app-display-status>
    <app-simple-chart></app-simple-chart> -->
    <app-time-series></app-time-series>
    <!-- <app-getbyid> </app-getbyid> -->
</article>
