<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Trade Type</th>
      <th>Volume</th>
      <th>Trade State</th>
      <th>Amount</th>
      <th>Creation Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td> <a (click)="onSave($event)"> </a> {{ post.ticker }} </td>
      <td> {{ post.tradetype }} </td>
      <td> {{ post.quantity }} </td>
      <td> {{ post.state }} </td>
      <td> {{ post.amount }} </td>
      <td> {{ post.cdate | date:'dd-MM-yyyy' }} </td>
    </tr>
  </tbody>
</table>


<!-- <h2>Time Series for  {{ticker}} </h2> -->
<div class="container">
    <div class="row">
        <div>
            <label class="form-group">Enter Ticker to display graph : </label> 
            <input class="form-group" placeholder="ticker" [ngModel]='tickerTest' value='C' (ngModelChange)="displayChart($event)" /><br/>  
        </div>
    </div>
    <aside echarts [options]="options" [merge]="updateOptions" class="demo-chart"></aside>
</div>
<!-- <p>{{ticker}}</p> -->



<!-- Unused Code -->
<!-- <input type="text" [ticker]="ticker"/> -->
<!-- <input type="text"  (submit)="displayChart()"/> -->
<!-- <input type="number" [ngModel]="percent" (ngModelChange)="onPercentChange($event)" /> -->
        <!-- <br>
        <button type="button" class="btn btn-pill btn-info" (click)='displayChart()'> 
            Get Trade of ID: {{ticker}} 
        </button>
    <br> -->