<p>This is trade records </p>
<!--<h2>{{data}}</h2> -->

<!--    <ul> -->
        <!-- use ngFor to iterate over the results -->
        <!-- <li *ngFor="let record of data">{{record['cdate'] | date:'dd-MM-yyyy'}} {{record['quantity'] | currency:'EUR' }}</li>
        
</ul>  -->
    <div>
        <table border="2">
            <tr>
                <th>Date</th>
                <th>Quantity</th>
                <th>Trade Type</th>
                <th>Trade Date</th>
                <th>Ticker</th>
                <th>Amount</th>   
            </tr>
          <tr *ngFor="let record of data">
            <td>{{ record.cdate | date:'dd-MM-yyyy'}}</td>
            <td>{{ record.quantity }}</td>
            <td>{{ record.tradetype }}</td>
            <td>{{ record.tradedate | date:'dd-MM-yyyy'}}</td>
            <td>{{ record.ticker }}</td>
            <td>{{ record.amount }}</td>
          </tr>
        </table> 
    </div>
        <!-- preformated allows us to see debug info -->